sphinx>=3.1
pandoc>=2.1
jupyter
ipython
ipykernel
nbsphinx
docutils<0.18
sphinx-intl
sphinx-rtd-theme
pydata-sphinx-theme
pygments>=2.4.1
myst_parser
sphinxext-rediraffe
sphinx-panels
sphinx-autobuild
sphinx-math-dollar
